﻿@model EventManagement.Models.LoginModel

<div class="note note-info">
    <h4 class="block">
        Create Admin 
    </h4>
</div>


<div class="portlet box blue tabbable">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Admin Details
        </div>
    </div>
    <div class="portlet-body form">
        <div class=" portlet-tabs">

            <div class="tab-content">

                <div class="tab-pane active" id="support_detail">
                    <!--START NOTIFICATION HISTORY-->
                    <div class="portlet-body form">
                        @using (Html.BeginForm("Create", "Admin", FormMethod.Post))
                        {
                            <div class="form-horizontal form-row-sepe">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Username</label>
                                        <div class="col-md-8">
                                            
                                            @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Password</label>
                                        <div class="col-md-8">
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="form-actions right col-md-12">
                                            <a class="btn blue" data-toggle="modal" href="#ConfirmUpdate">
                                                <i class="fa fa-check"></i>
                                                Create
                                            </a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="ConfirmUpdate" tabindex="-1" role="basic" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="well">
                                                        Clicking Update will update this record into the database with the latest information. If you want to discard the changes, click Close.
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn default blue" id="btnUpdateAccount">
                                                        <i class="fa fa-check"></i>
                                                        Update
                                                    </button>
                                                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        }


                    </div>
                    <!--END NOTIFICATION HISTORY-->
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    $(".datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "dd M yyyy hh:ii",
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
    });
</script>
