﻿
<li>
    <a href="javascript:;" module="Event">
        @*<i class="fa fa-lock"></i>*@
        <span class="title">
            Event
        </span>
        <span class="selected"></span>
        <span class="arrow"></span>
    </a>

    <ul class="sub-menu">

        <li>
            <a href="@Url.Content("~/Event")">
              Event Listing
            </a>
        </li>
        <li>
            <a href="@Url.Content("~/Event/Create")">
               Create Event
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;" module="Admin">
      
        <span class="title">
            Admin
        </span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="@Url.Content("~/Admin/Create")">
                Create Admin
            </a>
        </li>
    </ul>
</li>