﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";

    Exception ex = null;
    string SourcePage = "";
    string Message = "";
    string ErrorLogID = "";
    string InnerException = "";

    if (ViewBag.Message != null)
    {
        Message = ViewBag.Message + "<br><br>";
    }

    if (ViewBag.Error != null)
    {
        ex = new Exception();
        ex = ViewBag.Error;
        Message = Message + ex.Message;
        InnerException = ex.InnerException == null ? "" : ex.InnerException.ToString();
    }

    if (ViewBag.ErrorPage != null)
    {
        SourcePage = ViewBag.ErrorPage;
    }

    if (SourcePage.Length < 1)
    {
        SourcePage = Request.Url.ToString();
    }

    if (ViewBag.ErrorLogID != null)
    {
        ErrorLogID = ViewBag.ErrorLogID + "";
    }

}
<br/>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="note note-danger">
                <h4 class="block">
                    An error had occured while performing the previous operation.
                </h4>
                <p>
                    Detail Message:
                    <div class="well" style="font-family: 'Courier New';">
                        @Html.Raw(Message)
                        <br />
                        @if (!string.IsNullOrEmpty(InnerException))
                        {
                            <i>Inner Exception: @Html.Raw(InnerException)</i>
                            <br /><br />
                        }
                        <i>Page: @Html.Raw(SourcePage)</i>
                        <br />
                        <i>Date: @DateTime.Now</i>
                    </div>
                </p>
                <p>
                    <input type="button" class="btn red" title="Back to Previous" value="Back to Previous" onclick="javascript: self.history.go(-1);" />
                   
                    <input type="button" class="btn red" onclick="location.href='/'" title="Back to Home" value="Back to Home" />
                    
                </p>
            </div>
        </div>
    </div>
</body>
<script>
    $('body').on('keydown', function (e) {
        if (e.which === 8) {
            e.preventDefault();
        }
    });
    function DisableBack() {
        window.history.forward();
    }
    DisableBack();
    window.onload = DisableBack;
    window.onpageshow = function (evt) {
        if (evt.persisted) DisableBack();
    }
    window.onunload = function () { void (0); }
</script>

@*<script type="text/javascript">

        $('input[name="Back to Home"]').click(function () {

            var pathName = window.location.pathname;

            var url = "";
            if (pathName.toLowerCase().indexOf("lightweight") > -1) {
                url = "/lightweight";
            }
            else if (pathName.toLowerCase().indexOf("callcenter") > -1) {
                url = "/callcenter";
            }
            else
            {
                url = "/";
            }

            window.location.href = url;

        });

</script>*@