﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Successful";
    string Message = "";
    string MessageTitle = "Update Successful";
    string colorClass = "note-success";

    EventManagement.Models.SuccessModel success = ViewBag.Success;
}
<br />
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="note @colorClass">
                <h4 class="block">
                    @MessageTitle
                </h4>
                <p>
                    The operation has been successfully updated.
                    <div class="well" style="font-family: 'Courier New';">
                        @if (!String.IsNullOrEmpty(success.Message))
                        {
                            <i>Message: @Html.Raw(success.Message)</i>
                            <br />
                        }
                        <i>Module: @success.Module</i>
                        <br />
                        <i>Operation: @success.Operation</i>
                        <br />
                        <i>Date: @DateTime.Now</i>
                        <br />
                       
                    </div>
                </p>
                <p>
                   
                    <input type="button" class="btn green" title="Back" value="Back" onclick="javascript: self.location='@success.ReturnUrl';" />
                    
                    @*<input type="button" class="btn green" name="Back to Home" title="Back to Home" value="Back to Home" onclick="javascript: self.location='/';" />*@
                    <input type="button" class="btn green" onclick="location.href='@Url.Action("Index","Home")'" title="Back to Home" value="Back to Home" />
                </p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    $('input[name="Back to Home"]').click(function () {

        var pathName = window.location.pathname;

        window.location.href = url;

    });
    function DisableBack() {
        window.history.forward();
    }
    DisableBack();
    window.onload = DisableBack;
    window.onpageshow = function (evt) {
        if (evt.persisted) DisableBack();
    }
    window.onunload = function () { void (0); }

    $('body').on('keydown', function (e) {
        if (e.which === 8) {
            e.preventDefault();
        }
    });
</script>