﻿
@model EventManagement.Models.AttendanceQRModel



<div class="note note-info">
    <h4 class="block">
        Create Event Attendance
    </h4>
    <a href="/Event/Detail/@Model.EventID" class="btn blue btn-sm">Back to Event</a>
</div>

@Html.Action("EventSummary", "Event", new { ID = Model.EventID })


<div class="portlet box blue tabbable">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Event Attendance Details
        </div>
    </div>
    <div class="portlet-body form">
        <div class=" portlet-tabs">

            <div class="tab-content">

                <div class="tab-pane active" id="support_detail">
                    <!--START NOTIFICATION HISTORY-->
                    <div class="portlet-body form">
                        @using (Html.BeginForm("Create", "Attendance", FormMethod.Post))
                        {
                            <div class="form-horizontal form-row-sepe">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Title</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x => x.EventID)
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Valid From</label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.ValidStartDate, new { @class = "form-control datetime", @Value = Model.ValidStartDate.ToString("dd MMM yyyy HH:mm") })
                                        </div>

                                        @Html.Label("to", new { @class = "control-label col-md-1", @style = "text-align:center" })

                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.ValidEndDate, new { @class = "form-control datetime", @Value = Model.ValidEndDate.ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-actions right col-md-12">
                                            <a class="btn blue" data-toggle="modal" href="#ConfirmUpdate">
                                                <i class="fa fa-check"></i>
                                                Create
                                            </a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="ConfirmUpdate" tabindex="-1" role="basic" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="well">
                                                        Clicking Create will create this record into the database with the latest information. If you want to discard the changes, click Close.
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn default blue" id="btnUpdateAccount">
                                                        <i class="fa fa-check"></i>
                                                        Create
                                                    </button>
                                                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        }


                    </div>
                    <!--END NOTIFICATION HISTORY-->
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    $(".datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "dd M yyyy hh:ii",
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
    });
</script>