﻿@model List<EventManagement.Models.AttendanceQRModel>
@{
    Layout = "";
}
<table id="tblAttendance" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
            <td></td>

            <th>Title</th>

            <th>Valid Start Date</th>
            <th>Valid End Date</th>

            <th>Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a class="btn blue" href="@Url.Action("Detail", new { ID = item.id })">
                        <i class="fa fa-edit"></i>
                    </a>

                    <a class="btn green" href="@Url.Action("Export", new { ID = item.id, Title = item.Title })">
                        <i class="fa fa-download"></i>
                    </a>

                    <a class="btn red" href="@Url.Action("Delete", new { ID = item.id, EventID = item.EventID })">
                        <i class="fa fa-cut"></i>
                    </a>
                </td>


                <td>@item.Title</td>

                <td>
                    @item.ValidStartDate.AddHours(8).ToString("dd MMM yyyy HH:mm:ss")
                </td>
                <td>
                    @item.ValidStartDate.AddHours(8).ToString("dd MMM yyyy HH:mm:ss")
                </td>
                <td>
                    <div>M: @Html.DisplayFor(modelItem => item.ModifiedBy) - @item.ModifiedDate.ToString("dd MMM yyyy HH:mm:ss")</div>
                    <div>C: @Html.DisplayFor(modelItem => item.CreatedBy) - @item.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")</div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {

        $("#tblAttendance").dataTable();
        var tableWrapper = "#tblAttendance_wrapper";
        jQuery(tableWrapper + ' .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
        jQuery(tableWrapper + ' .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
        jQuery(tableWrapper + ' .dataTables_length select').select2({
            showSearchInput: false //hide search box with special css class
        });
        jQuery(tableWrapper + ' .dataTables_filter').addClass("pull-right");


    });


</script>
