﻿@model EventManagement.Models.EventModel

<div class="note note-info">
    <h4 class="block">
        Event Details - @Model.id
    </h4>
    <a href="/Event" class="btn blue btn-sm"> Back to Event Listing</a>
    <a href="/EventContent/Create/@Model.id" class="btn blue btn-sm"><i class="fa fa-plus"></i> Create Event Content</a>
    <a href="/Attendance/Create/@Model.id" class="btn blue btn-sm"><i class="fa fa-plus"></i> Create Attendance</a>
    <a href="/Event/Duplicate/@Model.id" class="btn green btn-sm"><i class="fa fa-copy"></i> Duplicate Event</a>
    <a href="/Event/Delete/@Model.id" class="btn red btn-sm"><i class="fa fa-cut"></i> Delete Event</a>
</div>


<div class="portlet box blue tabbable">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Event Details
        </div>
    </div>
    <div class="portlet-body form">
        <div class=" portlet-tabs">

            <div class="tab-content">

                <div class="tab-pane active" id="support_detail">
                    <!--START NOTIFICATION HISTORY-->
                    <div class="portlet-body form">
                        @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-horizontal form-row-sepe">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Name</label>
                                        <div class="col-md-8">
                                            @Html.HiddenFor(x=>x.id)
                                            @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Description</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="LogoUpload">

                                        <label class="control-label col-md-2">Event Image</label>

                                        <div class="col-md-8">
                                            <input type="file" name="file" class="form-control" />
                                          
                                            <img src="@Model.picHeadUrl" style="width:100px;height:100px;position: absolute;right: -100px;top: -55px;" />

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Event Date</label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.startTime, new { @class = "form-control datetime", @Value = Model.startTime.AddHours(8).ToString("dd MMM yyyy HH:mm") })
                                        </div>

                                        @Html.Label("to", new { @class = "control-label col-md-1", @style = "text-align:center" })

                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.endTime, new { @class = "form-control datetime", @Value = Model.endTime.AddHours(8).ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Display Date</label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.displayStartTime, new { @class = "form-control datetime", @Value = Model.displayStartTime.AddHours(8).ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                        @Html.Label("to", new { @class = "control-label col-md-1", @style = "text-align:center" })


                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.displayEndTime, new { @class = "form-control datetime", @Value = Model.displayEndTime.AddHours(8).ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Event Type</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.eventType, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">CPD Hour</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.cpd_hour, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Pass To LA</label>
                                        <div class="col-md-8" style="padding-top: 8px;">
                                            @{
                                                bool passLaCB = false;
                                                if (Model.passLA == "" || Model.passLA == "false")
                                                {
                                                    passLaCB = false;
                                                }
                                                else if (Model.passLA == "true")
                                                {
                                                    passLaCB = true;
                                                }
                                                else
                                                {
                                                    passLaCB = false;
                                                }
                                            }
                                            @Html.CheckBox("passLA", passLaCB, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Course Fee</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.fee, new { @class = "form-control", @type = "number", @step = ".01" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Location</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.location, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Venue</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(x => x.venue, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Status</label>
                                        <div class="col-md-8">
                                            @Html.EnumDropDownListFor(x => x.status, new { @class = "form-control" })
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Final Status</label>
                                        <div class="col-md-8">
                                            @Html.EnumDropDownListFor(x => x.finalStatus, new { @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-actions right col-md-12">
                                            <a class="btn blue" data-toggle="modal" href="#ConfirmUpdate">
                                                <i class="fa fa-check"></i>
                                                Update
                                            </a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="ConfirmUpdate" tabindex="-1" role="basic" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title">Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="well">
                                                        Clicking Update will update this record into the database with the latest information. If you want to discard the changes, click Close.
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn default blue" id="btnUpdateAccount">
                                                        <i class="fa fa-check"></i>
                                                        Update
                                                    </button>
                                                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        }


                    </div>
                    <!--END NOTIFICATION HISTORY-->
                </div>
            </div>
        </div>


    </div>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Event Content
        </div>
    </div>
    <div class="portlet-body form">
        <div class=" portlet-tabs">
            <ul class="nav nav-tabs">
              
                <li >
                    <a href="#Event_Participant" data-toggle="tab">
                        Event Participant
                    </a>
                </li>

                <li>
                    <a href="#Event_Attendance" data-toggle="tab">
                        Attendance
                    </a>
                </li>
                <li class="active">
                    <a href="#Event_Content" data-toggle="tab">
                        Event Content
                    </a>
                </li>

            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="Event_Content">
                    <div class="portlet-body form">
                        @Html.Action("Index", "EventContent", new { ID = Model.id })


                    </div>
                </div>
                <div class="tab-pane" id="Event_Attendance">
                    <div class="portlet-body form">
                        @Html.Action("Index", "Attendance", new { ID = Model.id })


                    </div>
                </div>
                <div class="tab-pane" id="Event_Participant">
                    <div class="portlet-body form">
                        @Html.Action("EventParticipant", "Event", new { ID = Model.id })


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    $(".datetime").datetimepicker({
        autoclose: true,
        isRTL: App.isRTL(),
        format: "dd M yyyy hh:ii",
        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left")
    });
</script>