﻿@model EventManagement.Models.EventModel
@{
    Layout = "";    
}

<style>
    .merchantSummary .col-md-8, .merchantSummary .col-md-3, .merchantSummary .col-md-4
    {
            padding-top: 8px;
    }

    .merchantSummary .form-group
    {
        margin-bottom:0px;
    }

    hr
    {
        margin:0;

    }

    h4
    {
        margin-top:0;
    }
</style>

<div class="well merchantSummary">
    <div class="form-horizontal form-row-sepe">
        <div class="form-body">
            <h4>Event Summary</h4>
            <hr/>
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-8">
                    @Html.DisplayFor(x => x.name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-8">
                    @Html.DisplayFor(x => x.description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Event Date</label>
                <label class="col-md-2 control-label" style="text-align:left">
                    @Model.startTime.AddHours(8).ToString("dd MMM yyyy HH:mm")
                </label>

                @Html.Label("to", new { @class = "control-label col-md-1", @style = "text-align:center" })

                <div class="col-md-4">
                    @Model.endTime.AddHours(8).ToString("dd MMM yyyy HH:mm")
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Display Date</label>
                <label class="col-md-2 control-label" style="text-align:left">
                    @Model.displayStartTime.AddHours(8).ToString("dd MMM yyyy HH:mm")
                </label>
                @Html.Label("to", new { @class = "control-label col-md-1", @style = "text-align:center" })


                <div class="col-md-4">
                    @Model.displayEndTime.AddHours(8).ToString("dd MMM yyyy HH:mm")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Event Type</label>
                <div class="col-md-8">
                    @Html.DisplayFor(x => x.eventType, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Status</label>
                <div class="col-md-8">
                    @Html.DisplayFor(x => x.status, new { @class = "form-control" })
                </div>
            </div>


        </div>

    </div>
</div>



