﻿@model List<EventManagement.Models.EventParticipant>
@{
    Layout = "";
}
<table id="tblEventParticipant" class="table table-striped table-bordered table-hover table-full-width">
    <thead>
        <tr>
           
            <th>Name</th>

            <th>is Attend?</th>
            <th>Attend Date</th>
            <th>Participate Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
               


                <td>@item.name</td>

                <td>
                    @if(item.isAttend == 0)
                    {
                        <span>False</span>
                    }else
                    {
                        <span>True</span>
                    }
                </td>
                <td>
                    @if(item.isAttend == 0)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @item.attendDate.ToString("dd MMM yyyy HH:mm:ss")
                    }
                  
                </td>
                <td>
                     @item.createdDate.ToString("dd MMM yyyy HH:mm:ss")
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {

        $("#tblEventParticipant").dataTable();
        var tableWrapper = "#tblEventParticipant_wrapper";
        jQuery(tableWrapper + ' .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
        jQuery(tableWrapper + ' .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
        jQuery(tableWrapper + ' .dataTables_length select').select2({
            showSearchInput: false //hide search box with special css class
        });
        jQuery(tableWrapper + ' .dataTables_filter').addClass("pull-right");


    });


</script>
