﻿
<div class="portlet box blue tabbable">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Event Content
        </div>
    </div>

       
                    <!--START NOTIFICATION HISTORY-->
    <div class="portlet-body form">
        <form class="form-horizontal form-row-sepe">
            <div class="form-body"></div>
        </form>
    </div>
                    <!--END NOTIFICATION HISTORY-->
              
        


</div>
