﻿@model List<EventManagement.Models.EventModel>

<div class="note note-info">
    <h4 class="block">
        Event Listing
    </h4>

    <a href="/Event/Create" class="btn blue btn-sm"><i class="fa fa-plus"></i> Create Event</a>
</div>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-reorder"></i>Event Listing
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body">
            <div class="form-horizontal">
                <div class="table-toolbar">
                    <table id="tblEventListing" class="table table-striped table-bordered table-hover table-full-width">
                        <thead>
                            <tr>
                                <td></td>

                                <th>Name</th>

                                <th>Start Date</th>
                                <th>End Date</th>

                                <th>Event Type</th>
                                <th>Status</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                //int daysLeft = Convert.ToDateTime(item.startTime).Subtract(DateTime.Today).Days;
                                //string daysClass = "label-success";
                                //if (daysLeft <= 0)
                                //{
                                //    daysClass = "label-danger";
                                //}
                                //else if (daysLeft <= 7)
                                //{
                                //    daysClass = "label-warning";

                                //}
                                <tr>
                                    <td>
                                        <a class="btn blue" href="@Url.Action("Detail", new { ID = item.id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>


                                    <td>@item.name</td>

                                    <td>
                                        @if (item.startTime.ToString() == "1/1/0001 12:00:00 AM")
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            <span>@item.startTime.AddHours(8).ToString("dd MMM yyyy HH:mm:ss ")</span>
                                        }

                                    </td>
                                    <td>
                                        @if (item.endTime.ToString() == "1/1/0001 12:00:00 AM")
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            <span>@item.endTime.AddHours(8).ToString("dd MMM yyyy HH:mm:ss")</span>
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.eventType)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.createdBy)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#tblEventListing").dataTable();
        var tableWrapper = "#tblEventListing_wrapper";
        jQuery(tableWrapper + ' .dataTables_filter input').addClass("form-control input-medium input-inline"); // modify table search input
        jQuery(tableWrapper + ' .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
        jQuery(tableWrapper + ' .dataTables_length select').select2({
            showSearchInput: false //hide search box with special css class
        });
        jQuery(tableWrapper + ' .dataTables_filter').addClass("pull-right");


    });


</script>